<p class="card__title">weather in {{cityName}}</p><span class="card__span"></span>
<div class="weatherIcon"><i class="{{icon}}"></i></div>
        <table class="card__table">
          <tr>
            <td>Pressure</td>
            <td class="pressure">{{pressure}}</td>
          </tr>
          <tr>
            <td>Humidity</td>
            <td class="humidity">{{humidity}}</td>
          </tr>
          <tr>
            <td>Temperature</td>
            <td class="temperature">{{temperature}}</td>
          </tr>
        </table>